<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments/head}">
<title>Crusit GrouMan 500</title>
</head>

<body>

<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>
<main>

    <div class="container bg-blur text-center rounded mt-5" style="width: fit-content">
        <div class="card" style="width: 50rem; background-color:#092f47">
            <div class="h4 card-header" style="color: lightgray"> 😵‍💫 Internal Server Error 500</div>
            <h5 class="text-light">
                Something's wrong! Go back or ask your IT guys 👨‍💻
            </h5>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
