body {
     background-image: url('/images/bg_img.jpg');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #464646;
 }

main {
     min-height: 80vh;
}
.navbar .logo {
     max-height: 50px;
     padding-right: 100px;
}

.container, .container-fluid {
     padding-top: 90px;
}

.group-container{
     margin-top: 90px;
}

.bg-text {
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
     color: white;
     font-weight: bold;
     border: 3px solid #f1f1f1;
     z-index: 2;
     width: 80%;
     padding: 20px;
     text-align: center;
}

.brand-section {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

td, th {
     padding: 3px 8px;
}

.card.offer, .offer-details .list-group-item {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}
.card-img-top-wrapper {
     height: 150px;
     overflow:hidden;
}

form.main-form {
     background-image: linear-gradient(to bottom right, rgba(9, 47, 71), rgba(9, 47, 71, 0.7));
     padding:10px 30px;
     border-radius: 10px;
}

.field-error {
     background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="red" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg> ') no-repeat top right/30px 30px;
}

.logged-user {
     color: white;
}

footer {
     align-content: center;
     width: 100%;
}


/*CONFIRM SCREEN STYLING*/

@-webkit-keyframes expand-confirm-animation {
     from {
          top: -100%
     }
     to {
          top: 0;
     }
}

@-webkit-keyframes collapse-confirm-animation {
     from {
          opacity: 1
     }
     to {
          opacity: 0;
     }
}

.confirm-container {
     position: fixed;
     z-index: 100000000000;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(211, 211, 211, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     animation-name: expand-confirm-animation;
     animation-duration: 100ms;
}

.confirm-box{
     width: 30%;
     height: 20%;
     display: flex;
     flex-direction: column;
     background-color: dimgray;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     border: 1px solid dimgray;
}

.confirm-btn-container {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     padding: 1rem;
}

.confirm-container-out {
     animation-name: collapse-confirm-animation;
     animation-duration: 200ms;
}

@-webkit-keyframes alert-in-animation {
     from {opacity: 0;}
     to {opacity: 1;}
}

@-webkit-keyframes alert-out-animation {
     from {
          right: 10px;
          opacity: 1;
     }
     to {
          right: -80%;
          opacity: 0;
     }

}

.error-tooltip {
     position: absolute;
     z-index: 10;
     bottom: 105%;
     right: -5px;
     display: inline-block;
     background-color: crimson;
     padding: 5px 10px;
     border-radius: 5px;
     border: 1px solid crimson;
     white-space: nowrap;
     animation-name: alert-in-animation;
     animation-duration: 200ms;
}

.error-out {
     animation-name: alert-out-animation;
     animation-duration: 300ms;
}





