<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:replace="~{fragments/head}"></div>
<title>Crusit GrouMan</title>


<body>

<header>
    <div th:replace="~{fragments/navbar}"></div>
</header>
<main>

    <div class="container bg-blur text-center rounded mt-5" style="width: fit-content">
        <div class="card bg-secondary" style="width: 50rem">
            <div class="h4 card-header" style="color: lightgray">Error 304</div>
            <h5>
                Umm, not this time, bro, you don't have the right permissions to go there!
            </h5>
        </div>
    </div>

</main>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
