<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:replace="~{fragments/head}"></div>
<title>GrouMan Add Cabin</title>


<body>

<header>
    <div th:replace="~{fragments/navbar}"></div>
</header>


<div class="container">
    <h2 class="text-center text-white">Add Cabins to</h2>
    <h4 class="text-center text-white" th:text="${currentGroup.name}"/>
    <form th:method="POST"
          th:action="@{/cabins/add/{id}(id= ${currentGroup.id})}"
          th:object="${cabinAddDto}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="cabinCode">Cabin Code</label>
                <input id="cabinCode" type="text" class="form-control"
                       name="cabinCode"
                       th:errorclass="is-invalid"
                       th:value="*{cabinCode}"
                       aria-describedby="nameHelpInline"
                       placeholder="Enter Cabin code">
                <p class="invalid-feedback" >
                    Cabin code is mandatory!
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="type" class="text-center text-white font-weight-bold">Cabin type</label>
                <select id="type"
                        name="type"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a cabin type -</option>
                    <option
                            th:each="type : ${cabinType}"
                            th:value="${type}"
                            th:text="${type.label}"
                            th:selected="${type} == *{type}"
                    ></option>

                </select>
                <p class="invalid-feedback">
                    Cabin type is required.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-4 mb-3">
                <label for="adultPrice" class="text-center text-white font-weight-bold">Price per Adult</label>
                <input id="adultPrice"
                        name="adultPrice"
                        type="number"
                        th:errorclass="is-invalid"
                        th:value="*{adultPrice}"
                        class="form-control"
                        aria-describedby="nameHelpInline"
                        placeholder="Enter price for Adult">

                <p class="invalid-feedback">
                    Price should be a positive number.
                </p>

            </div>

            <div class="form-group col-md-4 mb-3">
                <label for="childPrice" class="text-center text-white font-weight-bold">Price per Child</label>
                <input id="childPrice"
                       name="childPrice"
                       type="number"
                       th:errorclass="is-invalid"
                       th:value="*{childPrice}"
                       class="form-control"
                       aria-describedby="nameHelpInline"
                       placeholder="Enter price for Child">

                <p class="invalid-feedback">
                    Price should be a positive number.
                </p>

            </div>

            <div class="form-group col-md-4 mb-3">
                <label for="extraAdultPrice" class="text-center text-white font-weight-bold">Price per 3rd/4th Adult</label>
                <input id="extraAdultPrice"
                       name="extraAdultPrice"
                       type="number"
                       th:errorclass="is-invalid"
                       th:value="*{extraAdultPrice}"
                       class="form-control"
                       aria-describedby="nameHelpInline"
                       placeholder="Enter price for Additional Adult">

                <p class="invalid-feedback">
                    Price should be a positive number.
                </p>

            </div>

        </div>


        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="maxOccupancy">Max Occupancy</label>
                <input id="maxOccupancy" type="number" step="1" min="2" max="4" class="form-control"
                       name="maxOccupancy"
                       th:errorclass="is-invalid"
                       th:value="*{maxOccupancy}"
                       aria-describedby="nameHelpInline"
                       placeholder="Enter Max Occupancy">
                <p class="invalid-feedback">
                    Max occupancy can be 2, 3 or 4.
                </p>
            </div>

            <div class="form-group col-md-6">
                <label class="text-white font-weight-bold" for="count">Number of cabins of this type</label>
                <input type="number" step="1" min="1" max="10" class="form-control"
                       id="count"
                       name="count"
                       th:errorclass="is-invalid"
                       th:value="*{count}"
                       aria-describedby="nameHelpInline"
                       placeholder="Enter cabin count">
                <p class="invalid-feedback">
                    You can put between 1 and 10 cabins.
                </p>
            </div>

        </div>


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Next"/>
                </div>
            </div>
        </div>

    </form>
</div>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>
