<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:replace="~{fragments/head}"></div>
<title>GrouMan Add Group</title>


<body>

<header>
    <div th:replace="~{fragments/navbar}"></div>
</header>


<div class="container">
    <h2 class="text-center text-white">Add Cabins to Group</h2>
    <form th:method="POST"
          th:action="@{/groups/add}"
          th:object="${groupAddDto}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">

            <div class="form-group col-md-12 mb-3">
                <label class="text-white font-weight-bold" for="imageUrl">Group name</label>
                <input id="name" type="text" class="form-control"
                       name="name"
                       th:errorclass="is-invalid"
                       th:value="*{name}"
                       aria-describedby="nameHelpInline"
                       placeholder="Enter Group Name">
                <p class="invalid-feedback">
                    Group name should be at least 10 characters long.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="ship" class="text-center text-white font-weight-bold">Ship</label>
                <select id="ship"
                        name="ship"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a ship -</option>
                    <optgroup th:each="line : ${cruiselines}"
                              th:label="${line.name}">
                        <option
                                th:each="ship : ${line.ships}"
                                th:value="${ship.name}"
                                th:text="${ship.name}"
                                th:selected="${ship.name} == *{ship}"
                        ></option>

                    </optgroup>

                </select>
                <p class="invalid-feedback">
                    Ship is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="totalPax" class="text-white font-weight-bold">Total size of group</label>
                <input type="number" step="1"
                       id="totalPax"
                       name="totalPax"
                       th:value="*{totalPax}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Enter group size"/>
                <p class="invalid-feedback">
                    Total group size should be at least 10 passengers.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="startDate" class="text-center text-white font-weight-bold">Date of Departure</label>
                <input type="date"
                       id="startDate"
                       name="startDate"
                       th:errorclass="is-invalid"
                       th:value="*{startDate}"
                       class="form-control"/>

                <p class="invalid-feedback">
                    Start date is mandatory and cannot be in the past!
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="endDate" class="text-center text-white font-weight-bold">Date of Return</label>
                <input type="date"
                       id="endDate"
                       name="endDate"
                       th:errorclass="is-invalid"
                       th:value="*{endDate}"
                       class="form-control"/>

                <p class="invalid-feedback">
                    End date is mandatory.
                </p>
            </div>

        </div>





        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="transportation" class="text-center text-white font-weight-bold">Transport</label>
                <select id="transportation"
                        name="transportation"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select transport -</option>
                    <option th:each="vehicle : ${transportation}"
                            th:value="${vehicle}"
                            th:text="${vehicle.label}"
                            th:selected="${vehicle} == *{transportation}">
                    </option>
                </select>
                <p class="invalid-feedback">
                    Transportation means is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
                <input id="imageUrl"
                       name="imageUrl"
                       type="url"
                       th:errorclass="is-invalid"
                       th:value="*{imageUrl}"
                       th:text="*{imageUrl}"
                       class="form-control"
                       placeholder="Place group image URL here">
                <p class="invalid-feedback">
                    Group image URL is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="itinerary">Itinerary</label>
            <textarea id="itinerary"
                      name="itinerary"
                      th:errorclass="is-invalid"
                      th:value="*{itinerary}"
                      th:text="*{itinerary}"
                      type="textarea" class="form-control" rows="3"
                      placeholder="Enter cruise itinerary"></textarea>
            <p class="invalid-feedback">
                Description is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Next"/>
                </div>
            </div>
        </div>

    </form>
</div>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>
