<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="~{fragments/head}"></div>
<title>GrouMan Group Details</title>

<body>

<header>
    <div th:replace="~{fragments/navbar}"></div>
</header>


<div class="container">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-lg-5 m-1 p-0"
             th:object="${cruiseGroup}"
        >

            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{name}"></h5>
                <h5 class="card-title" th:text="*{duration + ' days'}"></h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• Remaining vacancies: <strong><th:block
                            th:text="*{totalPax}"/></strong></span></div>
                    <div class="card-text"><span>• Transport: <th:block th:text="*{transportation.label}"/></span></div>
                    <div class="card-text"><span>• Departure: <th:block
                            th:text="*{#dates.format(startDate, 'dd MMM yyyy')}"/></span></div>
                    <div class="card-text"><span>• Return: <th:block
                            th:text="*{#dates.format(endDate, 'dd MMM yyyy')}"/></span></div>
                    <div class="card-text"><span>• Itinerary: <th:block th:text="*{itinerary}"/> days</span></div>

                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" sec:authorize="hasRole('ADMIN')"
                   th:href="@{/groups/add/cabins/{id}(id = ${cruiseGroup.id})}">Add Cabins</a>
            </div>
        </div>
        <div class="offer card col-lg-5 m-1 p-0">
            <img th:src="${cruiseGroup.imageUrl}" class="card-img-top" alt="Group image">
            <div class="card-text">
                <span>
                    Group Added By: <th:block th:text="${cruiseGroup.getEmployee().getFirstName() + ' '
                                                        + cruiseGroup.getEmployee().getLastName()}"/>
                </span>
            </div>
        </div>
    </div>

</div>

<div class="container text-center">
    <div class="row justify-content-md-center bg-white">
    <div class="col col-lg-12 justify-content-center">


        <table class="table table-striped table-light">
            <tr><h4>Cabins in group</h4></tr>
            <thead>
            <tr>
                <th scope="col">Cabin Code</th>
                <th scope="col">Cabin type</th>
                <th scope="col">Price per Adult</th>
                <th scope="col">Price per Child</th>
                <th scope="col">Price per Extra Adult</th>
                <th scope="col">Number of cabins</th>

                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="">
            <tr th:each="cabin : ${cruiseGroup.cabins}"
                th:object="${cabin}">
                <td th:text="*{cabinCode}"></td>
                <td th:text="*{type}"></td>
                <td th:text="*{adultPrice}"></td>
                <td th:text="*{childPrice}"></td>
                <td th:text="*{extraAdultPrice}"></td>
                <td th:text="*{count}"></td>
                <td><a class="card-link" href="/">Add guests</a></td>
            </tr>

            </tbody>
        </table>

      </div>
    </div>


</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>
