<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
<title>GrouMan View All Groups</title>
</head>

<body>

<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>
<main>
<div class="container-fluid">
    <h2 class="text-center text-white mt-5">All Cruise Groups</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div
                th:each="group, iter: ${groups}"
                th:object="${group}"
                class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="*{imageUrl}" alt="Cruise group image">
            </div>
            <div class="card-body pb-2 h-25">
                <h5 class="card-title"
                    th:text="*{name}"></h5>
                <h6 class="card-title"
                    th:text="*{ship.name}"></h6>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• Total passengers: <strong><th:block th:text="*{totalPax}"/></strong></span></div>
                    <div class="card-text"><span>• Transport: <th:block th:text="*{transportation.label}"/></span></div>
                    <div class="card-text"><span>• Departure: <th:block th:text="*{#dates.format(startDate, 'dd MMM yyyy')}"/></span></div>
                    <div class="card-text"><span>• Duration: <th:block th:text="*{duration}"/> days</span></div>
                </li>
            </ul>
            <div class="card-body mx-auto">
                <a class="btn btn-info bg-danger" th:href="@{/groups/delete/{id}(id= *{id})}">DELETE</a>
            </div>

        </div>
    </div>
</div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
