<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
<title>GrouMan Group Details</title>
</head>
<body>

<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>
<main>
<div class="container group-container rounded bg-light pt-3" >

    <h3 class="text-center text-dark pb-2">Group Details</h3>

    <div class="row">
        <div class="col lg-6 justify-content-center"
             th:object="${cruiseGroup}">

            <div class="card-body pb-1">
                <h5 class="card-title" th:classappend="text-primary" th:text="*{name}"></h5>
                <h5 class="card-title" th:text="*{shipName}"></h5>
                <h5 class="card-title" th:text="*{duration + ' days'}"></h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text" th:unless="*{soldOut}"><strong>• Group total:
                        <th:block
                                th:text="*{totalPax}"/>
                    </strong>
                        / Sold beds: <strong>
                            <th:block
                                    th:text="*{soldPax}"/>
                        </strong>
                        / Available beds: <strong>
                            <th:block
                                    th:text="*{totalPax - soldPax}"/>
                        </strong>
                    </div>
                    <div class="card-text text-danger" th:if="*{soldOut}"><strong>• GROUP SOLD OUT</strong>
                    </div>
                    <div class="card-text"><span>• Transport: <th:block th:text="*{transportation.label}"/></span></div>
                    <div class="card-text"><span>• Departure: <th:block
                            th:text="*{#dates.format(startDate, 'dd MMM yyyy')}"/></span></div>
                    <div class="card-text"><span>• Return: <th:block
                            th:text="*{#dates.format(endDate, 'dd MMM yyyy')}"/></span></div>
                    <div class="card-text"><span>• Itinerary: <th:block th:text="*{itinerary}"/> days</span></div>
                </li>
            </ul>
            <div class="card-body">
                <a class="btn btn-info btn-lg" sec:authorize="hasRole('ADMIN')"
                   th:href="@{/cabins/add/{id}(id = ${cruiseGroup.id})}">Add Cabins</a>
                <button th:onclick="fetchPax([[${cruiseGroup.id}]])" class="btn btn-info btn-lg" id="show-pax-btn">Show
                    All Passengers
                </button>
                <button th:onclick="showHideContainer()" class="btn btn-info btn-lg d-none" id="hide-pax-btn">Hide
                    Passengers
                </button>
            </div>
        </div>


        <div class="col-lg-6">
            <img th:src="${cruiseGroup.imageUrl}" class="card-img-top" alt="Group image">
            <div class="card-text">
                <span>Group Added By: <th:block
                        th:text="${cruiseGroup.getEmployee().firstName + ' ' + cruiseGroup.getEmployee().lastName}"/></span>
            </div>

        </div>

    </div>

    <div class="row py-2 d-none" id="pax-list">

        <div class="col">
            <h4 class="text-center">Passenger List</h4>
            <table class="table-responsive-xl table-striped table-light text-center w-100">
                <thead class="w-100">
                <tr class="w-100">
                    <th scope="col">Cabin No.</th>
                    <th scope="col">Cabin Code</th>
                    <th scope="col">Cabin type</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">EGN</th>
                    <th scope="col">Passport</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="pax-info">

                </tbody>

            </table>

        </div>

    </div>

    <div class="row mt-3">

        <div class="col">

            <table class="table-responsive-lg mx-auto mb-3 table-striped table-light text-center" style="width: 100%;">
                <tr><h4 class="text-center">Cabins in group</h4></tr>
                <thead>
                <tr>
                    <th scope="col">Cabin Code</th>
                    <th scope="col">Cabin type</th>
                    <th scope="col">ADT Price</th>
                    <th scope="col">CHD Price</th>
                    <th scope="col">Extra ADT</th>
                    <th scope="col">Lead Pax</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Max Guests</th>
                    <th scope="col">Booked Guests</th>
                    <th scope="col">Booked By</th>


                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="">
                <tr th:each="cabin : ${cruiseGroup.cabins}"
                    th:object="${cabin}">
                    <td th:text="*{cabinCode}"></td>
                    <td th:text="*{type}"></td>
                    <td th:text="*{'€' + adultPrice}"></td>
                    <td th:text="*{'€' + childPrice}"></td>
                    <td th:text="*{'€' + extraAdultPrice}"></td>
                    <td th:text="*{guests.isEmpty()} ? 'n/a': *{guests.get(0).fullName}"></td>
                    <td style="font-weight: bold" th:text="*{'€' + totalPrice}"></td>
                    <td th:text="*{maxOccupancy}"></td>
                    <td th:text="*{paxNumber}"></td>
                    <td th:text="*{addedByCode == null} ? 'For Sale' : *{addedByCode}"></td>

                    <td th:if="${!cabin.full}"><a class="btn btn-info btn-sm"
                                                  th:href="@{/guests/add/{id}(id = *{id})}">Add guests</a></td>
                    <td th:if="${cabin.full}" class="table-danger">Cabin SOLD</td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>
<input id="csrf"
       type="hidden"
       th:name="${_csrf.headerName}"
       th:value="${_csrf.token}">
</main>
<footer th:replace="~{fragments/footer}"></footer>

</body>
<script type="text/javascript" th:src="@{/js/paxFetch.js}"></script>
</html>
