<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
<title>GrouMan Add Group</title>
</head>

<body>

<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>

<main>
<div class="container">
    <h2 class="text-center text-white"><th:block th:text="#{groups_add}"/></h2>
    <form th:method="POST"
          th:action="@{/groups/add}"
          th:object="${groupAddDto}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">

            <div class="form-group col-md-12 mb-3">
                <label class="text-white font-weight-bold" for="name"><th:block th:text="#{groups_name}"/></label>
                <input id="name" type="text" class="form-control"
                       name="name"
                       th:errorclass="is-invalid"
                       th:value="*{name}"
                       aria-describedby="nameHelpInline"
                       th:placeholder="#{groups_name_prompt}">
                <p class="invalid-feedback">
                    Group name should be at least 10 characters long.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="ship" class="text-center text-white font-weight-bold"><th:block th:text="#{groups_ship}"/></label>
                <select id="ship"
                        name="ship"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- <th:block th:text="#{groups_ship_prompt}"/> -</option>
                    <optgroup th:each="line : ${cruiselines}"
                              th:label="${line.name}">
                        <option
                                th:each="ship : ${line.ships}"
                                th:value="${ship.name}"
                                th:text="${ship.name}"
                                th:selected="${ship.name} == *{ship}"
                        ></option>

                    </optgroup>

                </select>
                <p class="invalid-feedback">
                    Ship is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="totalPax" class="text-white font-weight-bold"><th:block th:text="#{groups_total}"/></label>
                <input type="number" step="1"
                       id="totalPax"
                       name="totalPax"
                       th:value="*{totalPax}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       th:placeholder="#{groups_size_prompt}"/>
                <p class="invalid-feedback">
                    Total group size should be at least 10 passengers.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6 mb-2">
                <label for="startDate" class="text-center text-white font-weight-bold"><th:block th:text="#{groups_departure}"/></label>
                <input type="date"
                        id="startDate"
                        name="startDate"
                        th:errorclass="is-invalid"
                       th:value="*{startDate}"
                        class="form-control"/>

                <small th:if="${#fields.hasErrors('startDate')}" th:errorclass="error" th:errors="*{startDate}"
                       class="text-danger"> </small>

            </div>

            <div class="form-group col-md-6 mb-2">
                <label for="endDate" class="text-center text-white font-weight-bold"><th:block th:text="#{groups_return}"/></label>
                <input type="date"
                       id="endDate"
                       name="endDate"
                       th:errorclass="is-invalid"
                       th:value="*{endDate}"
                       class="form-control"/>

                <small th:if="${#fields.hasErrors('startDate')}" th:errorclass="error" th:errors="*{startDate}"
                       class="text-danger"> </small>
            </div>
            <div class="col mt-0">
            <small th:if="${#fields.hasErrors('*')}" th:errorclass="error" th:errors="${groupAddDto}"
                   class="text-danger"> </small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="transportation" class="text-center text-white font-weight-bold"><th:block th:text="#{groups_transport}"/></label>
                <select id="transportation"
                        name="transportation"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- <th:block th:text="#{groups_transport_prompt}"/> -</option>
                    <option th:each="vehicle : ${transportation}"
                            th:value="${vehicle}"
                            th:text="${vehicle.label}"
                            th:selected="${vehicle} == *{transportation}">
                    </option>
                </select>
                <p class="invalid-feedback">
                    Transportation means is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="imageUrl"><th:block th:text="#{groups_image_url}"/></label>
                <input id="imageUrl"
                       name="imageUrl"
                       type="url"
                       th:errorclass="is-invalid"
                       th:value="*{imageUrl}"
                       th:text="*{imageUrl}"
                       class="form-control"
                       th:placeholder="#{groups_image_prompt}">
                <p class="invalid-feedback">
                    Group image URL is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="itinerary"><th:block th:text="#{groups_itinerary}"/></label>
            <textarea id="itinerary"
                      name="itinerary"
                      th:errorclass="is-invalid"
                      th:value="*{itinerary}"
                      th:text="*{itinerary}"
                      type="textarea" class="form-control" rows="3"
                      th:placeholder="#{groups_itinerary_prompt}"></textarea>
            <p class="invalid-feedback">
                Description is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" th:value="#{groups_submit}"/>
                </div>
            </div>
        </div>

    </form>
</div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
