<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guests</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<button id="loadBooks">GET ALL GUESTS</button>
<table>
  <thead>
  <tr>
    <th>Cabin Id</th>
    <th>Cabin Code</th>
    <th>Cabin Type</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Birth Date</th>
    <th>Age</th>
    <th>Passport</th>
    <th>EGN</th>

  </tr>
  </thead>
  <tbody id="guests-container"></tbody>
</table>

<form>
  <h3>FORM</h3>
  <label>Cabin Id</label>
  <input type="title" id="cabinNumber" placeholder="Cabin Number...">
  <label>Cabin Code</label>
  <input type="title" id="cabinCode" placeholder="Cabin code...">
  <label>Cabin Type</label>
  <input type="title" id="cabinType" placeholder="Cabin type...">
  <label>Full Name</label>
  <input type="title" id="fullName" placeholder="Full Name...">
  <label>Email</label>
  <input type="title" id="email" placeholder="Email...">
  <label>Phone</label>
  <input type="title" id="phone" placeholder="Phone...">
  <label>Birth Date</label>
  <input type="title" id="birthDate" placeholder="DOB...">
  <label>Age</label>
  <input type="title" id="age" placeholder="Age...">
  <label>Passport</label>
  <input type="title" id="passportNumber" placeholder="Passport...">
  <label>EGN</label>
  <input type="title" id="egn" placeholder="EGN...">
  <button>Submit</button>
</form>
<script src="/js/app.js"></script>
</body>
</html>