<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
<title>GrouMan Add Guest</title>
</head>

<body>

<header>
  <nav th:replace="~{fragments/navbar}"></nav>
</header>
<main>

<div class="container">
  <div class="row mx-auto" th:if="${!cabin.isFull()}">
    <div class="col">
  <h2 class="text-center text-white"><th:block th:text="#{guest_title}"/></h2>
  <form th:method="POST"

        th:action="@{/guests/add/{id}(id = ${cabin.id})}"
        th:object="${guestAddDto}"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

    <div class="row">

      <div class="form-group col-md-12 mb-3">
        <label class="text-white font-weight-bold" for="fullName"><th:block th:text="#{guest_name}"/></label>
        <input id="fullName" type="text" class="form-control"
               name="fullName"
               th:errorclass="is-invalid"
               th:value="*{fullName}"
               aria-describedby="nameHelpInline"
               th:placeholder="#{guest_name_prompt}">
        <p class="invalid-feedback">
          Guest name should be at least 7 characters long.
        </p>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="EGN" class="text-center text-white font-weight-bold"><th:block th:text="#{cabin_egn}"/></label>
        <input id="EGN" type="text" class="form-control"
               name="EGN"
               th:errorclass="is-invalid"
               th:value="*{EGN}"
               aria-describedby="nameHelpInline"
               th:placeholder="#{guest_egn_prompt}">
        <p class="invalid-feedback">
          A valid EGN is required.
        </p>
      </div>
      <div class="form-group col-md-6 mb-3">
        <label for="birthDate" class="text-center text-white font-weight-bold"><th:block th:text="#{guest_birthdate}"/></label>
        <input type="date"
               id="birthDate"
               name="birthDate"
               th:errorclass="is-invalid"
               th:value="*{birthDate}"
               class="form-control"/>
        <p class="invalid-feedback">
          Birthday cannot be empty and cannot be in the future.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="email" class="text-center text-white font-weight-bold">Email</label>
        <input id="email" type="text" class="form-control"
               name="email"
               th:errorclass="is-invalid"
               th:value="*{email}"
               aria-describedby="nameHelpInline"
               th:placeholder="#{guest_email_prompt}">
        <p class="invalid-feedback">
          A valid email address is required.
        </p>
      </div>

      <div class="form-group col-md-6 mb-3">
        <label for="passportNumber" class="text-center text-white font-weight-bold"><th:block th:text="#{cabin_passport}"/></label>
        <input id="passportNumber" type="text" class="form-control"
               name="passportNumber"
               th:errorclass="is-invalid"
               th:value="*{passportNumber}"
               aria-describedby="nameHelpInline"
               th:placeholder="#{guest_passport_prompt}">
        <p class="invalid-feedback">
          A passport number is required.
        </p>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-12 mb-3">
        <label for="phone" class="text-center text-white font-weight-bold"><th:block th:text="#{guest_phone}"/></label>
        <input id="phone" type="text" class="form-control"
               name="phone"
               th:errorclass="is-invalid"
               th:value="*{phone}"
               aria-describedby="nameHelpInline"
               th:placeholder="#{guest_phone_prompt}">
        <p class="invalid-feedback">
          A valid telephone number is required.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-info btn-lg" th:value="#{guest_submit}"/>
        </div>
      </div>
      <div class="col col-md-4" th:if="${cabin.paxNumber > 0}">
        <div class="button-holder d-flex">
          <a class="btn btn-info btn-lg bg-danger" th:href="@{/cabins/close/{id}(id = ${cabin.id})}"><th:block th:text="#{guest_close_cabin}"/></a>
        </div>
      </div>
    </div>

  </form>
  </div>
  </div>

  <div class="row mx-auto mt-3">

    <div class="col md-6">

      <table class="table table-striped table-light text-center">

        <thead style="background-color:#092f47; color: white">
        <tr><h4 class="text-center text-light" style="background-color: #092f47"><th:block th:text="#{guestlist_title}"/></h4></tr>
        <tr>
          <th scope="col"><th:block th:text="#{guestlist_cabin}"/></th>
          <th scope="col"><th:block th:text="#{guestlist_name}"/></th>
          <th scope="col"><th:block th:text="#{guestlist_dob}"/></th>
          <th scope="col"><th:block th:text="#{cabin_age}"/></th>
          <th scope="col"><th:block th:text="#{cabin_egn}"/></th>
          <th scope="col"><th:block th:text="#{guestlist_pspt}"/></th>
          <th scope="col">Email</th>
          <th scope="col"><th:block th:text="#{cabin_phone}"/></th>

          <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="">
        <tr th:each="guest : ${guests}"
            th:object="${guest}">
          <td th:text="*{cabinId}"></td>
          <td th:text="*{fullName}"></td>
          <td th:text="*{#dates.format(birthDate, 'dd/MM/yyyy')}"></td>
          <td th:text="*{age}"></td>
          <td th:text="*{EGN}"></td>
          <td th:text="*{passportNumber}"></td>
          <td th:text="*{email}"></td>
          <td th:text="*{phone}"></td>

          <td><a class="btn btn-info btn-sm bg-danger" th:href="@{/guests/group/{groupId}/delete/{id}(id = *{id}, groupId = ${groupId})}"><th:block th:text="#{guestlist_delete}"/></a></td>
        </tr>

        </tbody>

      </table>

    </div>

  </div>



</div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
