<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:include="~{fragments/head}"></div>
    <title>Crusit GrouMan</title>
</head>

<body>

<header>
   <div th:replace="~{fragments/navbar}"></div>
</header>
<main>

    <div class="container bg-blur text-center rounded mt-5" style="width: fit-content">
        <div class="card bg-secondary" style="width: 50rem" >
            <div class="h5 card-header" style="color: lightgray">Welcome to Crusit Group Management Application</div>
            <h5>
            <a class="text-light" th:href="@{/auth/login}">Login</a>
            if you have an account or ask your manager to make one for you.
            </h5>
        </div>
    </div>

</main>
    <div th:replace="~{fragments/footer}"></div>
</body>
</html>
