<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="~{fragments/head}">
    <title>Crusit GrouMan</title>
</head>

<body>

<header>
   <nav th:replace="~{fragments/navbar}"></nav>
</header>
<main style="min-height: 77vh">

    <div class="container bg-blur text-center rounded mt-5" style="width: fit-content">
        <div class="card" style="width: 50rem; background-color:#092f47">
            <div class="h4 card-header" style="color: lightgray" sec:authorize="!isAuthenticated()">Welcome to Crusit Group Management Application</div>
            <h5 class="text-light" sec:authorize="!isAuthenticated()"> <a style="color:deepskyblue" th:href="@{/auth/login}">Login</a>
                if you have an account or ask your manager to make one for you.</h5>

            <div class="h5 card-header" style="color: lightgray" sec:authorize="isAuthenticated()"><th:block th:text="#{index_welcome_auth}"/> GrouMan,
                <h3 class="text-center text-white mt-3" th:text="${firstName + ' ' + lastName + ' (' + branch.name + ')'}"/>
            </div>
        </div>


    </div>

</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>


</html>
