<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Notification</title>
</head>
<body>
Hello, <th:block th:text="${userName}"/>,
<p></p>
<div class="container my-5">The following <th:block th:text="${soldGroups.size() == 1} ? 'group has' : 'groups have'"/> sold out:
    <p></p>
        <div class="col my-5" th:each="group : ${soldGroups}"
             th:text="${group.name} + ', departing on '
             + ${#dates.format(group.startDate, 'dd MMM yyyy')}
             + ', ship name: ' + ${group.ship.name}"></div>

</div>

<p>Please, inform colleagues!</p>

<p>
    Regards,<br>
    GrouMan

</p>
</body>
</html>