<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
<title>GrouMan Register Employee</title>
</head>

<body>
<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>

<main>
<div class="container">
    <h2 class="text-center text-white">Register User</h2>
    <form th:method="POST"
          th:action="@{/users/register}"
          th:object="${userRegistrationDto}"
          class="main-form mx-auto col-md-8 justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input id="firstName"
                       name="firstName"
                       type="text"
                       th:errorclass="is-invalid"
                       th:value="*{firstName}"
                       class="form-control"
                       placeholder="First name"/>
                <small th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"
                       class="text-danger"> </small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input id="lastName"
                       type="text"
                       name="lastName"
                       th:value="*{lastName}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Last name"/>
                <small th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"
                       class="text-danger"> </small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input id="username"
                       type="text"
                       name="username"
                       th:value="*{username}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Username"/>
                <small th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"
                       class="text-danger"> </small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input id="password"
                       type="password"
                       name="password"
                       th:value="*{password}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Password"/>
                <small th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"
                       class="text-danger"> </small>
            </div>

            <div class="form-group col-md-6" sec:authorize="!hasRole('ADMIN')">
                <label class="text-center text-white font-weight-bold" for="roles">Role</label>
                <p>

                    <input checked type="radio" name="roles"
                           th:errorclass="is-invalid"
                           th:value="${userRole}">
                    <span class="text-light"
                          th:text="${userRole}"></span>
                </p>

            </div>



            <div class="form-group col-md-6" id="roles" sec:authorize="hasRole('ADMIN')">
                <label class="text-center text-white font-weight-bold" for="roles">Roles</label>

                <div class="row">
                    <div class="col-4">
                        <input checked type="checkbox" name="roles"
                               th:errorclass="is-invalid"
                               th:value="${userRole}">
                        <span class="text-light"
                              th:text="${userRole}"></span>
                    </div>

                    <div class="col-5 px-0">
                        <input type="checkbox" name="roles"
                               th:errorclass="is-invalid"
                               th:value="${managerRole}">
                        <span class="text-light"
                              th:text="${managerRole}"></span>
                    </div>
                    <div class="col-3 px-0">
                        <input type="checkbox" name="roles"
                               th:errorclass="is-invalid"
                               th:value="${adminRole}">
                        <span class="text-light"
                              th:text="${adminRole}"></span>
                    </div>
                    <div class="col">
                        <small th:if="${#fields.hasErrors('roles')}" th:errorclass="error" th:errors="*{roles}"
                               class="text-danger"> </small>
                    </div>
                </div>

            </div>

            <div class="form-group col-md-6">
                <label class="text-center text-white font-weight-bold" for="branch">Branch</label>
                <select id="branch" name="branch"
                        th:errorclass="is-invalid"
                        class="form-control">

                    <option sec:authorize="hasRole('MANAGER') && !hasRole('ADMIN')"
                            th:text="${principalBranch.code}"/>

                    <option sec:authorize="hasRole('ADMIN')">- Choose branch -</option>
                    <option th:each="branch : ${branches}"
                            th:value="${branch.name}"
                            th:text="${branch.name}"></option>
                </select>
                <p class="invalid-feedback">
                    Choosing a branch is mandatory.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col col-md-3 mx-auto">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Register"/>
                </div>
            </div>
        </div>
    </form>
</div>
</main>
<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
