<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
<title>GrouMan Users</title>
</head>

<body>

<header>
  <nav th:replace="~{fragments/navbar}"></nav>
</header>
<main>
<div class="container mb-3"></div>

<div class="container rounded bg-light pt-2">
  <div class="row mt-3">

    <div class="col">

      <table class="table-responsive-lg mx-auto mb-3 table-striped table-light text-center" style="width: 100%;">
        <tr><h4 class="text-center pb-2"><th:block th:text="#{users_title}"/></h4></tr>
        <thead>
        <tr style="font-weight: bold">
          <th scope="col">Id</th>
          <th scope="col"><th:block th:text="#{registration_first_name}"/></th>
          <th scope="col"><th:block th:text="#{registration_last_name}"/></th>
          <th scope="col"><th:block th:text="#{registration_username}"/></th>
          <th scope="col"><th:block th:text="#{registration_roles}"/></th>
          <th scope="col"><th:block th:text="#{registration_branch}"/></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="">
        <tr th:each="user : ${allUsers}"
            th:object="${user}">
          <td th:text="*{id}"></td>
          <td th:text="*{firstName}"></td>
          <td th:text="*{lastName}"></td>
          <td th:text="*{username}"></td>
          <td th:text="*{roles}"></td>
          <td th:text="*{branch}"></td>
          <td><a class="btn btn-info btn-sm" th:href="@{/users/modify/{id}(id = *{id})}"><th:block th:text="#{users_modify}"/></a></td>
          <td><a class="btn btn-info btn-sm bg-danger" th:href="@{/users/delete/{id}(id = *{id})}"><th:block th:text="#{users_delete}"/></a></td>

        </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>

</main>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>