<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:replace="~{fragments/head}"></div>
<title>GrouMan Edit User</title>


<body>

<header>
    <div th:replace="~{fragments/navbar}"></div>
</header>

<div class="container">
    <h2 class="text-center text-white">Edit User</h2>
    <form
          th:method="post"
          th:action="@{/users/modify/{id}(id = *{id})}"
          th:object="${userModificationDto}"
          class="main-form mx-auto col-md-8 justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input id="firstName"
                       name="firstName"
                       type="text"
                       th:errorclass="is-invalid"
                       th:value="*{firstName}"
                       class="form-control"
                       placeholder="First name"/>
                <small th:if="${#fields.hasErrors('firstName')}" th:errorclass="field-error" th:errors="*{firstName}"
                       class="text-danger"> </small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input id="lastName"
                       type="text"
                       name="lastName"
                       th:value="*{lastName}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Last name"/>
                <small th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"
                       class="text-danger"> </small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input id="username"
                       type="text"
                       name="username"

                       th:errorclass="is-invalid"
                       class="form-control"
                       th:placeholder="*{username}"/>
                <small th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"
                       class="text-danger"> </small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input id="password"
                       type="password"
                       name="password"
                       value="********"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="********"/>
                <small th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"
                       class="text-danger"> </small>
            </div>

            <div class="form-group col-md-6" id="roles">
                <label class="text-center text-white font-weight-bold" for="roles">Roles</label>

                <div class="row">
                    <div class="col-4">
                        <input th:checked="*{roles.contains('USER')}" type="checkbox" name="roles"
                               th:errorclass="is-invalid"
                               th:value="${userRole}">
                        <span class="text-light"
                              th:text="${userRole}"></span>
                    </div>

                    <div class="col-5 px-0">
                        <input th:checked="*{roles.contains('MANAGER')}" type="checkbox" name="roles"
                               th:errorclass="is-invalid"
                               th:value="${managerRole}">
                        <span class="text-light"
                              th:text="${managerRole}"></span>
                    </div>
                    <div class="col-3 px-0">
                        <input th:checked="*{roles.contains('ADMIN')}" type="checkbox" name="roles"
                               th:errorclass="is-invalid"
                               th:value="${adminRole}">
                        <span class="text-light"
                              th:text="${adminRole}"></span>
                    </div>
                    <div class="col">
                        <small th:if="${#fields.hasErrors('roles')}" th:errorclass="error" th:errors="*{roles}"
                               class="text-danger"> </small>
                    </div>
                </div>

            </div>




            <!-- THIS IS THE OLD VERSION MULTI-SELECT DROPDOWN -->

            <!--<div class="form-group col-md-6" sec:authorize="hasRole('ADMIN')">
                <label class="text-center text-white font-weight-bold" for="roles">Roles</label>


                <select id="roles"
                        name="roles"
                        th:value="*{roles}"
                        th:errorclass="is-invalid"
                        class="form-control" multiple>
                    <option value="">- Select roles -</option>
                    <option th:value="${adminRole}"
                            th:text="${adminRole}"
                            sec:authorize="hasRole('ADMIN')"/>

                    <option th:value="${managerRole}"
                            th:text="${managerRole}"
                            sec:authorize="hasRole('ADMIN')"/>

                    <option
                            th:value="${userRole}"
                            th:text="${userRole}"
                            th:selected="${userRole}"
                            sec:authorize="hasRole('MANAGER')"/>

                </select>
                <p class="invalid-feedback">
                    Selecting a role is required.
                </p>

            </div>-->

            <!--END OF MULTI-SELECT DIV -->


            <div class="form-group col-md-6">
                <label class="text-center text-white font-weight-bold" for="branch">Branch</label>
                <select id="branch" name="branch"
                        th:errorclass="is-invalid"
                        class="form-control">

                    <option th:text="*{branch}"></option>
                    <option th:each="branch : ${branches}"
                            th:value="${branch.name}"
                            th:text="${branch.name}"

                    ></option>
                </select>
                <p class="invalid-feedback">
                    Choosing a branch is mandatory.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col col-md-3 mx-auto">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>